@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root {
    --c2m-color-text: black;
    --c2m-color-gb-100: hsl(0, 0%, 100%);
    --c2m-color-card-100: hsl(0, 0%, 98%);
    --c2m-color-card-200: hsl(0, 0%, 94%);
    --c2m-color-card-300: hsl(0, 0%, 91%);
    --c2m-color-card-400: hsl(0, 0%, 88%);
    --c2m-color-accent-400: hsl(0, 70%, 50%);
    --c2m-color-accent-500: hsl(0, 70%, 30%);

    --c2m-radius: 2rem;
}
@media (prefers-color-scheme: dark) {
    :root {
        --c2m-color-text: white;
        --c2m-color-gb-100: hsl(0, 0%, 4%);
        --c2m-color-card-100: hsl(0, 0%, 22%);
        --c2m-color-card-200: hsl(0, 0%, 16%);
        --c2m-color-card-300: hsl(0, 0%, 10%);
        --c2m-color-card-400: hsl(0, 0%, 7%);
        --c2m-color-accent-400: hsl(0, 70%, 50%);
        --c2m-color-accent-500: hsl(0, 70%, 40%);
    
    }
}
* {
    font-family: 'Comfortaa';
}
html,
body {
    color: var(--c2m-color-text);
    padding: 0;
    margin: 0;
    height: 100%;
}
.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c2m-color-gb-100);
}
.content > main {
}
.content > main > div {
    padding: var(--c2m-radius) var(--c2m-radius) var(--c2m-radius) var(--c2m-radius);
    border-radius: var(--c2m-radius);
    background-color: var(--c2m-color-card-300);
    position: relative;
}
.content > main > div:not(:last-of-type) {
    padding: var(--c2m-radius) var(--c2m-radius) calc(var(--c2m-radius)*2) var(--c2m-radius);
}
.content > main > div:not(:last-of-type):nth-of-type(odd) {
    margin-bottom: calc(-1*var(--c2m-radius));
    background-color: var(--c2m-color-card-200);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.content > main > div:nth-of-type(odd) {
    background-color: var(--c2m-color-gb-200);
}
.content > main > div:not(:first-of-type):not(:last-of-type):nth-of-type(even) {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    margin-bottom: calc(-1*var(--c2m-radius));
}

.content > main > div[data-lang]::before {
    float: right;
    content: '';
    width: 1.9rem;
    height: 1.3rem;
    background-size: cover;
    position: relative;
    display: inline-block;
    color: #000;

}

.content > main > div[data-lang="hu"]::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c1/Flag_of_Hungary.svg');
}

.content > main > div[data-lang="en"]::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg');
}

.content > main > div[data-lang="ua"]::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Ukraine.svg');
}

.content > main > div h1,
.content > main > div h2,
.content > main > div h3,
.content > main > div h4,
.content > main > div h5,
.content > main > div h6 {
    color: var(--c2m-color-accent-400);
}

.content > main > div > *:first-child {
    margin-block-start: unset;
}
.content > main > div > *:last-child {
    margin-block-end: unset;
}
.content > main > footer {
    border-radius: var(--c2m-radius);
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    text-align: center;
    /* margin-top: var(--c2m-radius); */
    padding: calc(var(--c2m-radius)*2) var(--c2m-radius) var(--c2m-radius) var(--c2m-radius);
    
    margin-top: calc(-1*var(--c2m-radius));
    background-color: var(--c2m-color-card-400);
    position: -10;
}

a,
.link {
    color: var(--c2m-color-accent-400);
    text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
    color: var(--c2m-color-accent-500);
    padding-bottom: .5px;
    border-bottom: 1px solid var(--c2m-color-accent-500);
}